$types: 'primary', 'success', 'info', 'warning', 'danger', 'error';

:root {
  @each $type in $types {
    --#{$type}: var(--el-color-#{$type});
    --#{$type}-bgc: var(--el-color-#{$type}-light-9);
  }
  --scrollbar-thumb-color: rgb(144 147 153 / 30%);
  --bgc-code: var(--el-fill-color-lighter);
  --bgc-table-header: var(--el-fill-color);
  --bgc-selection: rgb(var(--el-color-primary-rgb), 0.2);
  --bgc-hover: var(--el-fill-color);
  --bgc-black: var(--el-text-color-primary);
  --border-color: var(--el-border-color);
  --text-color: var(--el-text-color-primary);
  --placeholder-color: var(--el-text-color-placeholder);

  --navbar-height: 50px;

  --code-font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono,
    monospace;
}
