@use '../var.scss' as *;

@mixin scrollbar($width: 6px, $color: var(--scrollbar-thumb-color)) {
  &::-webkit-scrollbar {
    width: $width;
    height: $width;
  }
  &::-webkit-scrollbar-thumb {
    height: 5px;
    border-radius: 3px;
    background-color: $color;
    border: 0;
  }
}
